*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #7c7c7c;
}

.active,
a:hover {
  color: #222222;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  height: 5.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.header .navbar .nav-links {
  display: inline-block;
  padding: 1.5em 0em 1.5em 1.5em;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
}

.hero {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 800px;
}

.hero .side-scroll {
  width: 20%;
  height: 80%;
  margin-top: 10%;
}

.hero .side-scroll .line {
  margin-top: 3em;
  width: 1px;
  margin: auto;
  background-color: #222222;
  height: 60%;
}

.hero .side-scroll .scroll-text {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  margin-top: 3em;
  font-size: 0.8rem;
  font-weight: 600;
}

.hero .hero-images-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-images-container .image1 {
  width: 45%;
  margin-right: 2em;
  margin-left: 2em;
}

.hero .hero-images-container .image2 {
  width: 55%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 2.5em auto 0em auto;
}

.container .gallery {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.container .gallery .gallery-image {
  margin-bottom: 2em;
  opacity: 0.95;
}

.container .gallery .gallery-image:hover {
  opacity: 1;
}

.footer {
  width: 90%;
  margin: 0 auto;
  height: 6em;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
}
