@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    position: relative;
    
    .header {
      
      .burger {
        display: block;
        cursor: pointer;
      }
      .nav {
        background-color: white;
        box-shadow: 5px 0px 100px #0000007a;
        position: fixed;
        height: 100vh;
        width: auto;
        top: 0;
        right: 0;
        transform: translateX(120%);
        transition: transform 0.2s ease-in-out;
        padding: 0em 2em;
        
        
        .nav-close {
          height: 5.5em;

          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: 1.5em;
          cursor: pointer;
          img {
            width: 1.2em;
            height: 1.2em;
            display: block;
          }
        }

        .links {
          display: flex;
          flex-direction: column;
          margin: 5em auto;

          .nav-links {
            display: block;
            text-align: left;
            font-size: 1.2em;
            padding: 1.5em;
           
          }
        }
      }
    }
  }
}
