//only 1.2rem and 1rem font size
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222;
}
::placeholder {
  color: #c0c0c0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

a {
  display: block;
  text-decoration: none;
  color: #7c7c7c;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  border-bottom: 3px solid #222222;
  &:hover {
    color: #222222;
  }
}
.no-border{
  border-bottom: none;
  color: #222222;
}

.container {
  width: 90%;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  .contact-header {
    width: 100%;
    font-size: 1.2rem;
    height: 25vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .close {
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  .contact-form {
    width: 90%;
    height: 75vh;
    max-height: 30em;
    margin: 0 auto;
    max-height: 40em;

    display: flex;
    align-items: center;
    justify-content: center;

    .contact-form-wrapper {
      width: max-content;
      margin: 0 auto;
      .row {
        display: flex;
        margin: 2em 0em;
        .lable {
          width: 10em;
        }
        .input-field {
          input {
            border: none;
            background-color: #f5f5f5;
            padding: 1em;
            width: 25em;
            border-radius: 0.2em;
          }
          textarea {
            border: none;
            background-color: #f5f5f5;
            padding: 1em;
            width: 25em;
            border-radius: 0.2em;
          }
          .cta-send {
            margin-top: 2em;
            font-size: 1.1em;
            width: 10em;
            background-color: #222222;
            color: white;
            font-weight: 600;
            border-radius: 0.2em;
            padding: 0.6em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 725px) {
  
  .container {
    height: auto;
    width: 100%;  
    display: flex;
    flex-direction: column-reverse;
    .contact-header{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin:  auto;
        .mail, .instagram {
            margin-bottom: 2em;
            width: 100%;
            
            
        }
        .close{
            position: absolute;
            top: .5em;
            right: 1em;
            a{
              border: 2px solid red;
            }
        }
        a {
            width: max-content;
        }
       
        
    }
    .contact-form {
        margin-top: 3em;
        display: block;
        .contact-form-wrapper{
            width: 90%;
            .row {
                display: block;
                .lable{
                    padding-bottom: .7em;
                    width: 100%;
                    
                }
                .input-field{
                   input {
                       width: 100%;
                   }
                   textarea{
                       width: 100%;
                   }
                }
            }
        }
    }
    
    
  }
 
}
